html 
{
    scroll-behavior: smooth;
    box-sizing: border-box;
}
*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
ul 
{
    list-style: none;
}
:root 
{
    --header-block-size: 4rem;
}
a 
{
    text-decoration: none;
}
header
{
    background-color: red;
}
nav 
{
    block-size: var(--header-block-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;
    color: white;
    background-color: black;
    text-align: center;
}

.hidden 
{
    display: none;
}

/* ========================= MEDIA QUERY FOR MOBILE NAV =======================*/

@media screen and (max-width: 1024px)
{
    nav 
    {
        text-align: initial;
    }
    .nav__action
    {
        display: initial;
    }
    nav i 
    {
        color: white;

    }
    nav > * 
    {
    flex-grow: unset;
    
    }
    .nav__menu 
    {
        position: absolute;
        inset-block-start: calc(var(--header-block-size) + 0.5rem);
        inset-inline-start: 0;
        background-color: aqua;
        inline-size: 100%;
        pointer-events: none;
        padding-block-start: 1rem;
        padding-inline-start: 1rem;
        transition: 200ms linear;
        z-index: 2;
        transform-origin: top;
        transform: scaleY(0);
        visibility: hidden;
    }
    nav.show-menu .nav__menu 
    {
        inset-block-start: calc(var(--header-block-size) + 0.5rem);
        opacity: 1;
        transform: scaleY(1);
        pointer-events: initial;
        visibility: visible;
        transition: 200ms linear;
    }
    .nav__menu  .nav__item
    {
        margin-block-end: 0.75rem;
    }
    .nav__item:has( .nav__subnav)
    {
        
        position: relative;
    }
    .nav__subnav 
    {
        margin-inline-start: 1rem;
        transition: 0.4s ease-out;
    }
    .nav__subnav .nav__item
    {
        margin-block: 0.75rem;
        overflow: hidden;
    }
    .nav__item.has-subnav
    {
        position: relative;
    }
    .nav__subnav 
    {
       
        block-size: 0;
        overflow: hidden;
        pointer-events: none;
        
    }
    .nav__item.has-subnav.show-subnav .nav__subnav
    {
        block-size: 70px;
    }

}

/* ================= MEDIA QUERY FOR DESKTOP NAV= =============*/

@media screen and (min-width: 1024px)
{
    nav 
{
    block-size: var(--header-block-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;
    padding-inline: 2rem;
    padding-block: 3rem 2rem;
    font-size: 1.2rem;
    color: white;
    background-color: black;
    text-align: center;
}
nav > * 
{
    flex-grow: 1;
}
.hidden 
{
    display: none;
}
.nav__logo 
{
    font-size: 2rem;
}
.nav__action 
{
    display: none;
}
.nav__list 
{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    background-color: green;
}
.nav__item 
{
    flex-grow: 1;
    padding: 1rem;
}
.nav__item:has( .nav__subnav)
{
    position: relative;
}
.nav__subnav 
{
    display: none;
}
}

/* ====================== HOME SECTION =======================*/
.container 
{
    max-inline-size: 1024px;
    margin-inline: auto;
}
.grid 
{
    display: grid;
}
.home 
{
    block-size: 80vh;
    min-block-size: 80vh;
    background-color: rgb(109, 109, 109);
    color: text;
}

.home__container 
{
    background-color: blue;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}
.title 
{
    font-size: clamp(1.3rem, 1.5rem + 5vw, 8rem);
    color: #fff;
}

/* ==================== ALBUM SECTION ======================*/
.newalbum 
{
    margin-block-start: 4rem;
}

.album 
{
    padding: 1rem;
    row-gap: 1rem;

}
.album__images
{
    min-block-size: 300px;
    max-block-size: 540px;
    max-inline-size: 540px;
    background-color: yellowgreen;
   
}
.album__musics li 
{
    margin-block: 0.425rem;
}
.album__button 
{
    margin-block-start: 1rem;
    padding: 1rem 2rem;
}
@media screen and (min-width: 1024px) {

    .album__images 
    {
        aspect-ratio: 1 / 1;
    }
    .album 
    {
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

}

/*  =============== SLIDER ===========*/
.slider 
{
    margin-block-start: 3.5rem;
}
.slider__container
{
    min-block-size: 300px;
    width: 100%;
    background-color: burlywood;
}

/* ============ SHOWS ==============*/
.shows
{
    margin-block: 3.5rem;
}
.shows h2 
{
    text-align: center;
}
.shows__container
{

}

@media screen and (min-width: 666px)
{
    .show {
        grid-template-columns: 6fr 5fr;
        background-color: greenyellow;
    }
    .show__data 
    {
        background-color: blueviolet;
    }   
}
@media screen and (min-width: 800px)
{
    .show__location
    {
        justify-content: space-between;
        display: flex;
    }
    .show__buttons
    {
        justify-self: end;
    }
}