@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* ============== VARIABLES ====================*/
:root 
{
--header-height: 3.5rem;
/* -------------- COLORS -------------*/
--bg-color: hsl(220, 18%, 78%);
--bg-color-light: hsl(220, 18%, 86%);
--title-color: hsl(220, 8%, 10%);
--text-color: hsl(220, 4%, 32%);
--text-color-light: hsl(220, 4%, 55%);
--body-color: hsl(220, 18%, 99%);
--container-color: hsl(220, 18%, 97%);

/* ------------- TYPOGRAPHY ----------------*/
--body-font: 'Lora', serif;
--biggest-font-size: 2.25rem;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1rem;
--normal-font-size: .938rem;
--small-font-size: .813rem;
--smaller-font-size: .75rem;

/* ---------- FONT WEIGHT ---------*/
--font-regular: 400;
--font-medium: 500;
--font-semi-bold: 600;
/* ----- z index-------*/
--z-tooltip: 10;
--z-fixed: 100;
}
/* ============ RESPONSIVE TYPOGRAPHY ===========*/
@media screen and (min-width: 1124px)
{
    :root 
    {
        --biggest-font-size: 4.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
} 

/* =========== CSS RESET ===============*/
html 
{
    scroll-behavior: smooth;
    box-sizing: border-box;
}
*,
*::after,
*::before 
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
ul {list-style: none;}
a{text-decoration: none;}
img{display: block; max-inline-size: 100%; block-size: auto;}
/* ======= BASE CSS ============*/
body 
{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color)
}

h1,
h2,
h3
{
    color: var(--title-color);
    font-weight: var(--font-medium);
}


/* ======== REUSABLE CSS CLASSES=========*/
.container
{
    max-inline-size: 1024px;
    inline-size: calc(100% - 3rem);
    margin-inline: auto;
}
.grid
{
    display: grid;
    gap: 1.5rem;
}
.section
{
    padding-block: 4.5rem 2rem;
}

.section__title
{
    font-size: var(--h1-font-size);
    text-align: center;
    margin-block-end: 3rem;
}
.main
{
    overflow: hidden;
}


/*=================== HEADER AND NAV ===========*/
.header
{
   
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav
{
    block-size: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo
{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

@media screen and (max-width: 1024px)
{
    .nav__menu 
    {
        position: fixed;
        inset-block-end: 1.5rem;
        background-color: var(--body-color);
        box-shadow: 0 4px 12px hsla(220, 18%, 40%);
        inline-size: 90%;
        inset-inline: 0;
        margin-inline: auto;
        padding: 1.25rem 2.8rem;
        border-radius: .5rem;   
    }
    .nav__list 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav__link 
    {
        color: var(--text-color-light);
        font-weight: var(--font-medium);
        display: grid;
        justify-items: center;
        row-gap: .25rem;
    }
    .nav__link i 
    {
        font-size: 1.25rem;
    }
    .nav__link span 
    {
        font-size: .688rem;
    }
}


/* ================= HOME ==============*/
.home 
{
    background-color: var(--bg-color);
    overflow: hidden;
}

.home__container
{
    padding: 4rem 1rem;
    row-gap: 8.5rem;
}
.home__title
{
    font-size: var(--biggest-font-size);
    font-weight: 400;
}
.home__description
{
    color: var(--title-color);
    margin-block:1rem 2rem;
}

:is(.home__title, .home__description)
{
    line-height: 1.5;
}

.home__images
{
    position: relative;
    inline-size: 310px;
    justify-self: center;
}
.home__images img:nth-child(1) 
{
    inline-size: 224px;
    position: absolute;
    inset-inline-end: -1.5rem;
    inset-block-start: -9.5rem;
}

.home__images img:nth-child(2)
{
    inline-size: 180px;
    margin-left: .5rem;
    position: relative;
}

/* =========== BUTTON ============ */
.button__link
{
    color: var(--title-color);
    font-weight: var(--font-medium);
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}
.button__link i 
{
    font-size: 1rem;
    transition: .3s;
}
.button__link:hover i 
{
    transform: translateX(.25rem);
}

/* =============== NEW ==================*/
.new__container
{
    row-gap: 2.5rem;
    padding-block-end: 1.5rem;
}
.new__card
{
   justify-self: center;
}
.new__img 
{
    inline-size: 270px;
    margin-block-end: 1rem;
}
.new__link 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--title-color);
    padding-inline-end: .75rem;
}

.new__link i 
{
    font-size: 1.25rem;
    transition: .3s;
}

.new__title
{
    font-size: var(--h2-font-size);
    margin-block-end: .5rem;
}

.new__subtitle
{
    font-size: var(--smaller-font-size);
    color: var(--text-color);
}
.new__link:hover i 
{
    transform: translateX(.25rem);
}
/* change header background */
.scroll-header
{
    background-color: var(--body-color);
    box-shadow: 0 1px 4px hsla(220, 4%, 15%, .1);
}
/* link active */
.active-link
{
    color: var(--title-color);
}

/* =============== COLLECTION ============*/
.collection
{
    background-color: var(--bg-color-light);
    overflow: hidden;
}
.collection__container
{
    position: relative;
    block-size: 571px;
    display: grid;
    justify-items: center;
}
.collection__title
{
    font-size: var(--h1-font-size);
    margin-block-end: .75rem;
}
.collection__explore 
{
    display: grid;
   position: absolute;
   column-gap: 2rem;
}
.collection__explore:nth-child(2)
{
    grid-template-columns: 230px max-content;
    inset-block-end: 1rem;
    inset-inline-end: 5rem;
}
.collection__explore:nth-child(1)
{
    grid-template-columns: max-content 230px;
    inset-block-start: 0;
    inset-inline-start: 5rem;
}
.collection__data-men
{
    margin-block-start: 2.5rem;
}
.collection__data-women
{
    align-self: flex-end;
    margin-block-end: 2.5rem;
}

/* ================== PRODUCTS =============== */
.products__container
{
    padding-block-end: 5rem;
}
.products__card
{
    max-inline-size: 370px;
}
.products__img 
{
    margin-block-end: 1rem;
}
.products__title 
{
    font-size: var(--h3-font-size);
    margin-block-end: .75rem;
}
.products__price
{
    color: var(--title-color);

}

/* ======= swiper class  ====*/

.products__container
{
    position: relative;
    margin-inline: auto;
}
.swiper-wrapper
{
    margin-inline: auto;
}
.swipe-button-prev,
.swipe-button-next
{
    inline-size: 50px;
    block-size: 50px;
    font-size: 1.5rem;
    z-index: 20;
    color: var(--title-color);
   
}
.button__container
{
    
    inline-size: 100%;
    block-size: 2rem;
    display: flex;
    justify-content: center;
}

/* ========== BRANDS ==================*/

.brand__container
{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 1.25rem;
}
.brand__img
{
    inline-size: 120px;
}
.brand__img:nth-child(even)
{
    margin-block-start: 2rem;
}

/* ============== FOOTER ================== */
.footer__container
{
    row-gap: 3rem;
}
.footer__logo
{
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    display: inline-block;
    margin-block-end: .75rem;
}
.footer__content,
.footer__links 
{
    display: grid;
}
.footer__content{
    grid-template-columns: repeat(2, max-content);
    gap: 3.5rem 3rem;
}

.footer__title
{
    font-size: var(--h3-font-size);
    margin-block-end: 1.25rem;
}
.footer__links 
{
    row-gap: .75rem;
}
.footer__link,
.footer__information
{
    font-size: var(--small-font-size);
}

.footer__link 
{
    color: var(--text-color);
    transition: .3s;
}
.footer__link:hover 
{
    text-decoration: underline;
    color: var(--title-color);
}
.footer__social
{
    display: flex;
    column-gap: .5rem;
}
.footer__social-link
{
    font-size: 1.25rem;
    transition: background-color .3s;
    display: inline-flex;
    color: var(--title-color);
    padding: .4rem;
    background-color: var(--container-color);
}

.footer__social-link:hover
{
    background-color: var(--bg-color-light);
}

.footer__info
{
    margin-block-start: 6rem;
    padding-block-end: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .75rem;
}

.footer__copy,
.footer__privacy
{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    text-align: center;
}

/* ============= SCROLL BAR ============*/
::-webkit-scrollbar 
{
    inline-size: .6rem;
    border-radius: .5rem;
    background-color: hsl(220, 8%, 76%);
}
::-webkit-scrollbar-thumb
{
    background-color: hsl(220, 8%, 64%);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover
{
    background-color: hsl(220, 8%, 54%);
    border-radius: .5rem;
}

/* ============== SCROLL UP ============*/
.scrollup 
{
    position: fixed;
    inset-inline-end: 1rem;
    inset-block-end: -40%;
    background-color: var(--container-color);
    box-shadow: 0 8px 12px hsla(220, 18%, 45%, .15);
    display: inline-flex;
    padding: .35rem;
    color: var(--title-color);
    font-size: 1.1rem;
    z-index: var(--z-tooltip);
    transition: .3s;
}
.scrollup:hover 
{
    transform: translateY(-.25rem);
}
.scrollup.show-scroll
{
    inset-block-end: 7.5rem;
}

/* ============= THEME ==================*/
/* ============== variable dark theme ========*/
body.dark-theme
{
--bg-color: hsl(220, 18%, 13%);
--bg-color-light: hsl(220, 18%, 23%);
--title-color: hsl(220, 8%, 95%);
--text-color: hsl(220, 8%, 65%);
--body-color: hsl(220, 18%, 18%);
--container-color: hsl(220, 18%, 21%);

}
.change-theme
{
    color: var(--title-color);
    font-size: 1.125rem;
    cursor: pointer;
}


/* ================ BREAKPOINTS =============== */
@media screen and (max-width: 340px)
{
    .container 
    {
       margin-inline: auto;
       inline-size: calc(100%);
    }
    .footer__content 
    {
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
    .nav__menu 
    {
        padding: 1rem 1.5rem;
    }
    .home__container 
    {
        padding-block: 2rem 1rem;
        row-gap: 6rem;
    }
    .home__description
    {
        font-size: var(--small-font-size);
    }
    .home__images 
    {
        inline-size: 248px;
    }
    .home__images img:nth-child(1)
    {
        inline-size: 180px;
        inset-block-start: -7rem;
    }
    .home__images img:nth-child(2)
    {
        inline-size: 150px;
    }
    .new__img 
    {
        inline-size: 230px;
    }
    .new__link 
    {
        padding-inline-end: 0;
    }
    .collection__explore:nth-child(1),
    .collection__explore.collection__explore:nth-child(2){
        position: initial;
        grid-template-columns: 230px;
        row-gap: 2rem;
        margin: 0;
    }
    .collection__container
    {
        block-size: initial;
        row-gap: 3rem;
    }
    .collection__data-men 
    {
        margin-block-start: 0;
    }
    .collection__data-women
    {
        margin-block-end: 0;
    }
    .products__card
    {
        inline-size: 230px;
    }
    .brand__container
    {
        grid-template-columns: repeat(2, 100px);
        row-gap: .5rem;
    }
}

@media screen and (min-width: 576px)
{
    .nav__menu 
    {
        inline-size: 342px;
    }
    .footer__content 
    {
        grid-template-columns: repeat(3, max-content);
    }
}

@media screen and (min-width: 767px)
{
    .home__container,
    .new__container 
    {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
    }
    .home__images 
    {
        margin-block-start: 6rem;
    }
    .brand__container
    {
        grid-template-columns: repeat(4, max-content);
        justify-content: center;
    }
    .footer__container
    {
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
    }
    .footer__info
    {
        grid-column: 1 / -1;
    }
}

@media screen and (min-width: 1024px)
{
    .section 
    {
        padding-block: 7rem 1rem;
    }
    .section__title 
    {
        margin-block-end: 4rem;
    }
    .nav 
    {
        block-size: calc(var(--header-height) + 1.5rem);
    }
    .nav__menu 
    {
        inline-size: initial;
        margin-inline-start: auto;
        margin-inline-end: 2rem;
    }
    .nav__list 
    {
        display: flex;
        column-gap: 3rem;
    }
    .nav__link 
    {
        color: var(--text-color);
        font-weight: var(--font-medium);
        transition: .3s;
    }
    .nav__link i 
    {
        display: none;
    }
    .nav__link:hover 
    {
        color: var(--title-color);
    }
    .active-link 
    {
        color: var(--title-color);
        text-decoration: line-through;
    }
    .change-theme 
    {
        margin-inline-start: 3rem;
        color: var(--text-color);
    }
    .dark-theme .nav__menu 
    {
        background-color: transparent;
        box-shadow: none;
    }
    .products__container
    {
        max-inline-size: 954px;
    }
    .footer__content 
    {
        grid-template-columns: repeat(4, max-content);
        column-gap: 5.5rem;
    }
    .footer__link 
    {
        font-size: var(--normal-font-size);
    }
    .footer__info 
    {
        padding-block-end: 2rem;
        row-gap: 1rem;
    }
}

@media screen and (min-width: 1124px) {
    .home__container 
    {
        padding-block: 10rem;
        column-gap: 0;
    }
    .home__images 
    {
        inline-size: 500px;
        margin-block-start: 8rem;
        transform: translate(-1rem);
    }
    .home__images img:nth-child(1)
    {
        inline-size: 345px;
        inset-block-start: -14.5rem;
    }
    .home__images img:nth-child(2){
        inline-size: 277px;
    }
    .new__container 
    {
        grid-template-columns: repeat(3, max-content);
        padding-block-end: 4.5rem;
        gap: 4.5rem;
    }
    .new__img 
    {
        margin-block-end: 1.25rem;
    }
    .new__title 
    {
        font-size: var(--h3-font-size);
    }
    .collection__container 
    {
        block-size: 760px;
        margin-block-end: 2rem;
    }
    
    .collection__explore:nth-child(1){
        grid-template-columns: max-content 330px;
        margin-inline-start: 10rem;
    }
    .collection__explore:nth-child(2)
    {
        grid-template-columns: 330px max-content;
        margin-inline-end: 10rem;
    }
    .collection__explore
    {
        column-gap: 5rem;
    }
    .products__container 
    {
        padding-block-end: 7rem;
    }
    .brand__container
    {
        column-gap: 5.5rem;
    }
    .brand__img 
    {
        inline-size: 140px;
    }
    .scrollup
    {
        inset-inline-end: 3rem;
    }
    .show-scroll 
    {
        inset-block-end: 3rem;
    }

}

@media screen and (min-width: 2048px)
{
    body 
    {
        zoom: 1.5;
    }
}

@media screen and (min-width: 3840px) {
    body 
    {
        zoom: 2.3;
    }
    
}